<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/booking.css' %}">
   

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <section>  
<!-- start NAVIGATION Bar -->
<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img
        src="{% static '/img/white-logo.png' %}" alt="" style="width: 200px; margin-left: 20px"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'service' %}">service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'rooms' %}">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-light" style="" type="submit"><a class="nav-link " href="{% url 'booking' %}">Booking</a></button>
        </form>
      </div>
    </div>
  </nav>
</section>
      <!-- End NAVIGATION Bar -->
    </section>

   
<section>
  
        <!-- Page Header Start -->
    
        <div class="container-fluid page-header mb-5 p-0" style="background-image:url({% static 'img/carousel-1.jpg' %});">
          <div class="container-fluid page-header-inner py-5">
              <div class="container text-center pb-5">
                  <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
                  <nav aria-label="breadcrumb">
                  </nav>
              </div>
          </div>
      </div>
      <!-- Page Header End -->

      <h2 style='color:green; font-size:20px'>{{n}}</h2>
              <!-- Booking Start -->
              <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
                        <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
                    </div>
                    <div class="row g-3">
                        <div class="col-lg-6  divimage" >
                            <div class="row g-3">
                                <div class="col-6 text-end">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/Room-2.jpg' %}" style="margin-top: 25%;">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/Room-1.jpg' %}">
                                </div>
                                <div class="col-6 text-start">
                                  <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/Room-3.jpg' %}">
                              </div>
                              <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/Room-4.jpg' %}">
                              </div>
                                <div class="col-6 text-end">
                                    <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/Room-6.jpg' %}">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/Room-5.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="wow fadeInUp" data-wow-delay="0.2s">
                              <form method='post' action='savedata'>
                                {% csrf_token %}

                                <div class="form-field">
                                  <label for="name">Name:</label>
                                  <input type="text" id="name" name='name' required>
                                </div>
                                <div class="form-field">
                                  <label for="mobile">Mobile Number:</label>
                                  <input type="text" id="mobile" name='mobile' required>
                                  <small>Format: 10 digits without spaces or dashes</small>
                                </div>
                                <div class="form-field">
                                  <label for="email">Email:</label>
                                  <input type="email" id="email" name='email' required>
                                </div>

                                <div class="form-field">
                                  <label for="address">Address:</label>
                                  <input type="text" id="address"name='address' required>
                                </div>
                                <div class="form-field">
                                  <label for="Pincode">Pin Code:</label>
                                 <input type="text" name="pincode"  required> 
                                </div>
                                <div class="form-field">
                                  <label for="Idproof">Id Proof:</label>
                                 <input type="text" name="idproof"  required> 
                                </div>
                                <div class="form-field">
                                  <label for="Idnumber">Id Number:</label>
                                 <input type="text" name="idnumber"  required> 
                                </div>
 
                               <div class="form-field">
                                  <label for="check-in-date">Check-in Date:</label>
                                  <input type="date" id="check-in-date" name='Check_in' required>
                                </div>
                                <div class="form-field">
                                  <label for="check-out-date">Check-out Date:</label>
                                  <input type="date" id="check-out-date" name='Check_out' required>
                                </div> 

                                {% comment %} <div class="form-field">
                                  <label for="id-proof">Upload ID Proof:</label>
                                  <input type="file" id="id-proof" accept="image/*" name='Idproof' required>
                                </div> {% endcomment %}

                                {% comment %} <div class="room-field">
                                  <h4>Select Room Category:</h4>
                                  <label for="single-bed">Single Bed:</label>
                                  <select id="single-bed" onchange="showRoomFields(this.value)" name='single'>
                                    <option value="">Select Room Type</option>
                                    <option value="ac">AC Room</option>
                                    <option value="non-ac">Non AC Room</option>
                                  </select>
                                </div>
                             {% endcomment %}
                             {% comment %} 
                                <div id="single-bed-ac" class="room-field" style="display: none;">
                                  <label for="single-bed-ac-rooms">No. of Rooms (AC):</label>
                                  <input type="number" id="single-bed-ac-rooms" min="1" name='room_1'>
                                </div>
                            
                                <div id="single-bed-non-ac" class="room-field" style="display: none;">
                                  <label for="single-bed-non-ac-rooms">No. of Rooms (Non AC):</label>
                                  <input type="number" id="single-bed-non-ac-rooms" min="1" name='room_1'>
                                </div>
                             {% endcomment %}
                                {% comment %} <div class="room-field">
                                  <label for="double-bed">Double Bed:</label>
                                  <select id="double-bed" onchange="showRoomFields1(this.value)" name='doublebed'>
                                    <option value="">Select Room Type</option>
                                    <option value="ac">AC Room</option>
                                    <option value="non-ac" >Non AC Room</option>
                                  </select>
                                </div>
                             {% endcomment %}
                                {% comment %} <div id="double-bed-ac" class="room-field" style="display: none;">
                                  <label for="double-bed-ac-rooms">No. of Rooms (AC):</label>
                                  <input type="number" id="double-bed-ac-rooms" min="1" name='room_2'>
                                </div>
                                

                                <div id="double-bed-non-ac" class="room-field" style="display: none;">
                                  <label for="double-bed-non-ac-rooms">No. of Rooms (Non AC):</label>
                                  <input type="number" id="double-bed-non-ac-rooms" min="1" name='room_2'>
                                </div> {% endcomment %}
                            
                                <button class="btn-Booknow" style="border-radius:5px;width:250px; height:50px; font-size:20px;" type="submit">Book Now</button>
                              </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <!-- Booking End -->
    
    

 <!-- Footer Start -->
 <div class="container-fluid " style="margin:0px; padding:0px">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container-fluid text-center text-md-start ">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style=" background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-white">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-white">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
      <!-- Footer End -->

  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
</section>

{% comment %} <script>

  function showRoomFields(value) {
    document.getElementById("single-bed-ac").style.display = "none";
    document.getElementById("single-bed-non-ac").style.display = "none";

    if (value === "ac") {
      document.getElementById("single-bed-ac").style.display = "block";
     
    } else if (value === "non-ac") {
      document.getElementById("single-bed-non-ac").style.display = "block";
     
    }
  }



  function showRoomFields1(value) {
 
    document.getElementById("double-bed-ac").style.display = "none";
    document.getElementById("double-bed-non-ac").style.display = "none";

    if (value === "ac") {
      document.getElementById("double-bed-ac").style.display = "block";
    } else if (value === "non-ac") {
      document.getElementById("double-bed-non-ac").style.display = "block";
    }
  }
</script> {% endcomment %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>