<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">


<link rel="stylesheet" href="dash.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">Hotel Name</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="" >
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'orderlist' %}" class="active">
          <i class="bx bx-box "></i>
          <span class="links_name">Booking list</span>
        </a>
      </li>
      <li>
        <a href="{% url 'food' %}">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Food Order</span>
        </a>
      </li>
      <li>
        <a href="{% url 'billinglist' %}">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Billing list</span>
        </a>
      </li>
      <li>
        <a href="{% url 'query' %}">
          <i class="bx bx-book-alt"></i>
          <span class="links_name">Query</span>
        </a>
      </li>
      <li>
        <a href="{% url 'admin' %}">
          <i class="bx bx-book-alt"></i>
          <span class="links_name">Logout</span>
        </a>
      </li>
      {% comment %} <li href="">
        <a href="#">
          <i class="bx bx-log-out"></i>
          <span class="links_name"><a href="">Log out</a></span>
        </a>
      </li> {% endcomment %}
    </ul>
  </div>
  
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn"></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search..." />
        <i class="bx bx-search"></i>
      </div>
      <div class="profile-details">
        <img src="{% static '/img/white-logo.png' %}" alt=""  />
        <span class="admin_name">Hotel management</span>
        <i class="bx bx-chevron-down"></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total booking</div>
            <div class="number">0</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bx-cart-alt cart"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Rooms </div>
            <div class="number">80</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bxs-cart-add cart two"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Staff</div>
            <div class="number">15</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bx-cart cart three"></i>
        </div> 
      </div>
    </div>


    <div class="container-fluid order_list" id="orderlist">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
						<h2>Booking<b>List</b></h2>
					</div>
					<div class="col-sm-4" style="padding-top:10px">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal" style='border-radius:5px;'><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
						{% comment %} <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 {% endcomment %}
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Pincode</th>  
                    <th>id Proof</th>  
                    <th>Id Number</th>  
                    <th>Check_in</th>  
                    <th>Check_out</th>  
                    <th>Status</th>  
                </tr>
              </thead>
              <thead>
                    {% for x in obj %}
                      <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.mobile}}</td>
						            <td>{{x.email}}</td>
                        <td>{{x.address}}</td>
                        <td>{{x.pincode}}</td>
                        <td>{{x.idproof}}</td>
                        <td>{{x.idnumber}}</td>
                        <td>{{x.check_in}}</td>
                        <td>{{x.check_out}}</td>
                        <td>
                            <button style='width:60px;border-radius:5px;'><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="" data-toggle="tooltip" title="Edit" style='color:black;'>Pay</i></a></button>
                            {% comment %} <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> {% endcomment %}
                        </td>
                      </tr>
                    {% endfor %}
              </thead>
                  {% comment %} <tr>
                    <td>
                      <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="options[]" value="1">
                        <label for="checkbox1"></label>
                      </span>
                    </td>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@mail.com</td>
						            <td>89 Chiaroscuro Rd, Portland, USA</td>
                        <td>(171) 555-2222</td>
                        <td>(171) 555-2222</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr> {% endcomment %}
                </tbody>
            </table>

			<div class="clearfix">
                {% comment %} <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div> {% endcomment %}
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item "><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- ADD Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method='post' action='orderlist'>
          {% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Add Order</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" name='name' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Mobile</label>
							<input type="text" name='mobile' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name='email' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" name='address' required></textarea>
						</div>
						<div class="form-group">
							<label>Pincode</label>
							<input type="text" name='pincode' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Id Proof</label>
							<input type="text" name='idproof' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Id Number</label>
							<input type="text" name='idnumber' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Check_in</label>
							<input type="date" name='check_in' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Check_out</label>
							<input type="date" name='check_out' class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" name='name' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Mobile</label>
							<input type="text" name='Mobile' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name='email' class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" name='address' required></textarea>
						</div>
						<div class="form-group">
							<label>Pincode</label>
							<input type="text" name='pincode' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Check_in</label>
							<input type="text" name='checkin' class="form-control" required>
						</div>					
						<div class="form-group">
							<label>Check_out</label>
							<input type="text" name='checkout' class="form-control" required>
						</div>						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>



  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    };
  </script>

  <script>

    function myFunction_1() {
      document.getElementById("orderlist").classList.toggle("show");
    }
    
    function myFunction() {
      document.getElementById("foodorder").classList.toggle("show");
    }
   
    function myFunction_2() {
      document.getElementById("BillingList").classList.toggle("show");
    }
    </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>